.section .book-ride-thankyou-wrapper {
    display: none;
    min-height: 300px;
}

.book-ride-thankyou {
    background-color: #ee2326;
}

.book-ride-thankyou>.popup-wrapper>.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
}

.book-ride-thankyou>.popup-wrapper>.succ-content {
    display: none;
}

.book-ride-thankyou.loader-hide>div>div:first-of-type {
    display: none;
}

.book-ride-thankyou.loader-hide>div>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-ride-thankyou>.popup-wrapper>.succ-content>.succ-img picture {
    line-height: 0;
    height: 100%;
    display: block;
}

.book-ride-thankyou>.popup-wrapper>.succ-content>.succ-img picture img {
    width: 100px;
    height: 100px;
}

.book-ride-thankyou>.popup-wrapper>.succ-content h2 {
    font-size: 48px;
    line-height: 67.2px;
    font-family: "Montserrat-Bold";
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.book-ride-thankyou>.popup-wrapper>.succ-content h4 {
    font-size: 24px;
    line-height: 33.6px;
    font-family: "Montserrat-Medium";
    font-weight: 400;
    margin: 0;
}