.section .book-ride-thankyou-wrapper {
    display: none;
    min-height: 265px;
}

.book-ride-thankyou {
    background-color: #ee2326;
}

.book-ride-thankyou>.popup-wrapper>.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
}

.book-ride-thankyou>.popup-wrapper>.succ-content {
    display: none;
}

.book-ride-thankyou.loader-hide>div>div:first-of-type {
    display: none;
}

.book-ride-thankyou.loader-hide>div>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-ride-thankyou>.popup-wrapper>.succ-content>.succ-img picture {
    line-height: 0;
    height: 100%;
    display: block;
}

.book-ride-thankyou>.popup-wrapper>.succ-content>.succ-img picture img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.book-ride-thankyou>.popup-wrapper>.succ-content h2 {
    font-size: 48px;
    line-height: 67.2px;
    font-family: "Montserrat-Bold";
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.book-ride-thankyou>.popup-wrapper>.succ-content h4 {
    font-size: 24px;
    line-height: 33.6px;
    font-family: "Montserrat-Medium";
    font-weight: 400;
    margin: 0;
    color: #fff;
}

@media (max-width:768px) {

    .section .book-ride-thankyou-wrapper {
        min-height: 185px;
    }

    .book-ride-thankyou>.popup-wrapper>.succ-content h2 {
        font-size: 24px;
        line-height: 33.6px;
    }

    .book-ride-thankyou>.popup-wrapper>.succ-content h4 {
        font-size: 14px;
        line-height: 19.6px;
    }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    /* Safari-only styles go here */
   .book-ride-thankyou>.popup-wrapper>.succ-content>.succ-img picture img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
  }
}