body.modal-open {
  overflow: hidden;
  height: 100vh;
}

.modal dialog::backdrop {
  background-color: rgb(19 19 19 / 75%);
}

.modal dialog {
  overscroll-behavior: none;
  overflow-y: hidden;
  width: calc(100vw - 48px);
  max-width: 900px;
  max-height: calc(100dvh - (2 * var(--header-height)));
  padding: 0;
  border: 1px solid var(--dark-color);
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: calc(100dvh - (2 * var(--header-height)) - 48px);
  padding: 24px;
  padding-top: 0;
  margin-top: 44px;
}

@media (width >=900px) {
  .modal dialog {
    width: calc(100vw - 64px);
  }

  .modal dialog .modal-content {
    max-height: calc(100dvh - (2 * var(--header-height)) - 64px);
    padding: 32px;
    padding-top: 0;
  }
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  line-height: 0;
}

.modal .close-button .icon.icon-close {
  content: "";
  width: 24px;
  height: 24px;
}

.modal .close-button .icon.icon-close::before,
.modal .close-button .icon.icon-close::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: currentcolor;
}

.modal .close-button .icon.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal dialog .section {
  padding: 0;
}

/*  share Modal css*/

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block .modal.block dialog::backdrop {
  display: none;
}

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block .modal.block dialog {
  all: unset;
  width: 60px;
  height: 60px;
  max-width: unset;
  max-height: unset;
  position: absolute;
  top: 0;
  left: 0;
}

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog .modal-content {
  all: unset;
}

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block .modal.block dialog,
.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog {
  display: block;
  position: absolute;
  top: 63px;
  padding: 0;
  border: none;
  background: transparent;
  right: calc((100% - 1246px) / 2);
  margin: unset;
  left: unset;
}

.modal dialog::backdrop {
  display: none;
}

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog .close-button {
  display: none;
}

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog .section.share-modal-sec .default-content-wrapper {
  display: flex;
  gap: 10px;
}

.section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog .section.share-modal-sec .default-content-wrapper a {
  all: unset;
}

@media (width<767px) {

  .section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block .modal.block dialog,
  .section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog {
    bottom: 181px;
    top: unset;
    right: calc((100% - 306px) / 2);
  }

  .section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block .modal.block dialog,
  .section.splendor-tab-container .splendor-tab-wrapper .splendor-tab.block dialog {
    bottom: 73px;
    top: unset;
    right: calc((100% - 294px) / 2);

  }
}

/* share Modal css end */

/*modal book ride */

.modal.book-ride {
  background-color: black !important;
  opacity: 0.9;
}

.modal.book-ride>dialog {
  max-width: 100%;
  width: 100%;
  background-color: #ee2326;
  border: none;
  max-width: 1366px;
  width: 100%;
  border-radius: 10px;
}

.modal.book-ride>dialog>.modal-content {
  background-color: #ee2326;
  border: none;
  padding: 0px;
  /* border-radius: 10px; */
}

.modal.book-ride>dialog>.close-button {
  border: 1px solid #ee2326;
  margin: 0px;
  padding: 0px;
  top: 11px;
  right: 46px;
}

/* .modal.book-ride>dialog>.close-button1::before{
  content: " x";
} */
.modal.book-ride>dialog>.close-button:focus,
.modal.book-ride>dialog>.close-button:focus-visible {
  border: 1px solid #ee2326 !important;
  outline: none !important;
  line-height: 0;
}

.modal.book-ride>dialog>.close-button>span {
  color: white;
  font-weight: 400;
  border: none;
}

.modal.book-ride>dialog>.modal-content>.book-ride>.form-wrapper>.form {
  padding: 0px;
  margin: 0px 0px 25px 0px;
}

.modal.book-ride>dialog>.modal-content>.book-ride>.form-wrapper>.form>form>#form-f1-1 {
  max-width: 100% !important;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .modal.book-ride>dialog {
    top: 10%;
    left: 1%;
    margin: 10px;
    max-width: fit-content;
  }

  .modal.book-ride>dialog>.modal-content {
    padding: 0px;
  }

  .modal.book-ride>dialog>.close-button {
    top: 10px;
    right: 13px;
  }

  .modal.book-ride>dialog>.modal-content>.book-ride>.form-wrapper>.form>form>#form-f1-1 {
    flex-direction: column;
    margin-top: 0px;
  }

  .modal.book-ride>dialog>.modal-content>.book-ride>.form-wrapper>.form>form>#form-f1-1>.field-wrapper {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .modal.book-ride>dialog {
    margin: 10px;
    top: 10%;
    left: 1%;
    max-width: fit-content;
  }
}

@media (max-width: 321px) {
  .modal.book-ride>dialog {
    margin: 3%;
    max-width: fit-content;
  }
}


body.modal-open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.8);
    z-index: 999;
}

body{
  position: relative;
}

/* country modal start*/
.section.modal.country-modal-sec dialog {
  /* margin: 0 auto;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  max-height: calc(100% - 100px); */
  margin: 0 auto;
  top: 10%;
  transform: translateX(-50%);
  left: 50%;
  height: max-content;
  border-radius: 8px;
  border: unset;
  overflow: auto;
  /* min-height: calc(100% - 1.75rem * 2); */

  @media (max-width: 768px) {
    transform: unset;
    inset: 0;
    width: 100%;
  }
}


.section.modal.country-modal-sec dialog::backdrop {
  background-color: #686868;
}

.section.modal.country-modal-sec dialog::-webkit-scrollbar{
  scrollbar-width: thin;
  width: 2px;
}

.section.modal.country-modal-sec dialog::-webkit-scrollbar {
  width: 2px;
}

.section.modal.country-modal-sec dialog::-webkit-scrollbar-track {
  background: transparent;
}

.section.modal.country-modal-sec dialog::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* or any color */
  border-radius: 10px;
}

.section.modal.country-modal-sec dialog .modal-content {
  border: unset;

  @media (max-width: 768px) {
    height: 100vh;
    padding-bottom: 82px;
  }
}

.section.modal.country-modal-sec dialog .modal-content .section.country-modal-sec .default-content-wrapper h2 {
  font-family: TSTAR-PRO-Bold;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
}

.section.modal.country-modal-sec dialog .modal-content .section.country-modal-sec .default-content-wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.section.modal.country-modal-sec dialog .modal-content .section.country-modal-sec .default-content-wrapper ul li {
  width: 140px;
  margin: 5px;
}

.section.modal.country-modal-sec dialog .modal-content .section.country-modal-sec .default-content-wrapper ul li a {
  background-color: #686868;
  color: #fff;
  padding: 12px 8px;
  font-family: TSTAR-PRO-Medium;
  font-size: var(--font-size14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  white-space: nowrap;
}


.section.modal.country-modal-sec dialog .modal-content .section.country-modal-sec .default-content-wrapper ul li a span {
  width: 30px;
  height: 20px;
  display: flex;
  margin-right: 5px;
}

.section.modal.country-modal-sec .close-button .icon.icon-close::before,
.section.modal.country-modal-sec .close-button .icon.icon-close::after {
  color: red;
}

/* country modal end */